<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/accounts/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.AccountDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <url-pattern>/account_details/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DriverDetailsServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.DriverDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverDetailsServlet</servlet-name>
        <url-pattern>/driver_details/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LocationServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.LocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocationServlet</servlet-name>
        <url-pattern>/location/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RideServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.RideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RideServlet</servlet-name>
        <url-pattern>/ride/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DriverRideServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.DriverRideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverRideServlet</servlet-name>
        <url-pattern>/driver_rides/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RiderRideServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.RiderRideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RiderRideServlet</servlet-name>
        <url-pattern>/rider_rides/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payments/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.BillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/bill/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SavedUPIServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.SavedUPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavedUPIServlet</servlet-name>
        <url-pattern>/getUPI/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RiderLoginServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.RiderLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RiderLoginServlet</servlet-name>
        <url-pattern>/rider_login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DriverLoginServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.DriverLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverLoginServlet</servlet-name>
        <url-pattern>/driver_login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JwtServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.JwtTokenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JwtServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.application.cab_application.Filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.application.cab_application.Filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.RatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>com.application.cab_application.Servlets.VehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/vehicle/*</url-pattern>
    </servlet-mapping>
</web-app>